In [2]:
dp = "/media/jacoblamkey/Storage/cropchallenge/Dataset_Competition_Zip_File/Dataset_Competition/Training/"
tdp = "/media/jacoblamkey/Storage/cropchallenge/Dataset_Competition_Zip_File/Dataset_Competition/Test Inputs/"
gdp = "/media/jacoblamkey/Storage/cropchallenge/Dataset_Competition_Zip_File/Dataset_Competition/"

In [35]:
import numpy as np
import pandas as pd
import pydicom
import os
import random
from pandas import DataFrame

import matplotlib.pyplot as plt
from matplotlib import pyplot
from tqdm import tqdm
from PIL import Image
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import KFold

In [80]:
otrain = pandas.DataFrame(np.load(dp+"inputs_others_train.npy"),columns=['MG','ID','State','Year','Loc'])
ytrain = pandas.DataFrame(np.load(dp+"yield_train.npy"),columns=['Yield'])

otest = pandas.DataFrame(np.load(tdp+"inputs_others_test.npy"),columns=['MG','ID','State','Year','Loc'])

geno = pandas.DataFrame(np.load(gdp+"clusterID_genotype.npy"),columns=['Cluster'])

wtrain = pd.DataFrame(np.concatenate( np.load(dp+"inputs_weather_train.npy")), columns=['ADNI','AP','ARH','MDNI','MaxSur','MinSur','AvgSur'])
wtest = pd.DataFrame(np.concatenate(np.load(tdp+"inputs_weather_test.npy")), columns=['ADNI','AP','ARH','MDNI','MaxSur','MinSur','AvgSur'])

In [83]:
geno

      Cluster
0           6
1           6
2           6
3           6
4           6
...       ...
5834        2
5835       15
5836        2
5837        2
5838       15

[5839 rows x 1 columns]

In [84]:
otrain.to_csv(dp + "inputs_others_train.csv")
wtrain.to_csv(dp + "inputs_weather_train.csv")
ytrain.to_csv(dp+"yield_train.csv")

wtest.to_csv(tdp+"inputs_weather_test.csv")
otest.to_csv(tdp+"inputs_others_test.csv")

geno.to_csv(gdp+"clusterID_genotype.csv")